rq>=1.13.0,<2.0.0
rq-scheduler-dashboard==0.4.6
Django>=5.0,<6.0
djangorestframework
gunicorn
redis                 # опційно
django-cors-headers>=4,<5
requests
django-rq
rq-scheduler
rq-dashboard
uvicorn[standard]>=0.23.0
gspread
google-auth
cryptography
django-filter
psycopg2-binary

python-json-logger
sentry-sdk[django]

twilio
python-decouple

